In [1]:
import pandas as pd
import numpy as np

In [2]:
# Creamos diccionario de los equipos de la NFL
nfl_teams = pd.read_csv('Datos/nfl_teams.csv')
names = dict(zip(nfl_teams["team_name"], nfl_teams["team_id"]))

# Prueba
names["Jacksonville Jaguars"]

'JAX'

In [3]:
# Filtramos los datos por los aÃ±os con mayor disponibilidad de los datos
nfl_scores = pd.read_csv('Datos/spreadspoke_scores.csv', encoding='utf-8')
nfl_scores = nfl_scores[nfl_scores["schedule_season"] >= 1999]
nfl_scores = nfl_scores.reset_index()
nfl_scores.head()

,index,schedule_date,schedule_season,schedule_week,schedule_playoff,team_home,score_home,score_away,team_away,team_favorite_id,spread_favorite,over_under_line,stadium,stadium_neutral,weather_temperature,weather_wind_mph,weather_humidity,weather_detail
0,7095,9/12/1999,1999,1,False,Atlanta Falcons,14,17,Minnesota Vikings,MIN,-4.0,49,Georgia Dome,False,72.0,0.0,NaN,indoor
1,7096,9/12/1999,1999,1,False,Chicago Bears,20,17,Kansas City Chiefs,KC,-3.0,38,Soldier Field,False,68.0,10.0,69.0,NaN
2,7097,9/12/1999,1999,1,False,Cleveland Browns,0,43,Pittsburgh Steelers,PIT,-6.0,37,FirstEnergy Stadium,False,70.0,10.0,54.0,NaN
3,7098,9/12/1999,1999,1,False,Green Bay Packers,28,24,Oakland Raiders,GB,-9.0,43,Lambeau Field,False,61.0,9.0,84.0,NaN
4,7099,9/12/1999,1999,1,False,Indianapolis Colts,31,14,Buffalo Bills,BUF,-3.0,45.5,RCA Dome,False,72.0,0.0,NaN,indoor

In [4]:
# Leemos los datos de las jugadas
plays_data = pd.read_csv("Datos/nflplays_1999_to_2022.csv", low_memory=False)
plays_data.head()

,play_id,game_id,old_game_id,home_team,away_team,season_type,week,posteam,posteam_type,defteam,...,out_of_bounds,home_opening_kickoff,qb_epa,xyac_epa,xyac_mean_yardage,xyac_median_yardage,xyac_success,xyac_fd,xpass,pass_oe
0,35,1999_01_ARI_PHI,1999091200,PHI,ARI,REG,1,PHI,home,ARI,...,0,1,0.126818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,60,1999_01_ARI_PHI,1999091200,PHI,ARI,REG,1,PHI,home,ARI,...,0,1,-0.561568,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,82,1999_01_ARI_PHI,1999091200,PHI,ARI,REG,1,PHI,home,ARI,...,0,1,-0.641717,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,103,1999_01_ARI_PHI,1999091200,PHI,ARI,REG,1,PHI,home,ARI,...,0,1,-0.723302,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,126,1999_01_ARI_PHI,1999091200,PHI,ARI,REG,1,PHI,home,ARI,...,0,1,0.212661,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
plays_data['game_date'] =  pd.to_datetime(plays_data['game_date'])
#plays_data = plays_data.drop(columns=["game_id", "old_game_id", "desc"])

In [6]:
# Prueba
# Borrar
nfl_scores = nfl_scores.query("schedule_season == 2022 and team_home == 'Seattle Seahawks'")

In [7]:
# NÃºmero de partidos a completar los datos
n_games = nfl_scores.shape[0]
print(n_games)

# Inicializamos arreglos para llenar datos
td_home = np.zeros(n_games)
td_away = np.zeros(n_games)
extra_home = np.zeros(n_games)
extra_away = np.zeros(n_games)
kick_home = np.zeros(n_games)
kick_away = np.zeros(n_games)
tb_home = np.zeros(n_games)
avgyd_home = np.zeros(n_games)
avgyd_away = np.zeros(n_games)
ydpenalized_home = np.zeros(n_games)
ydpenalized_away = np.zeros(n_games)
timepos_home = np.zeros(n_games)
timepos_home = np.zeros(n_games)
drives =  np.zeros(n_games)
overtime = np.zeros(n_games)

9

In [24]:
for i, value in enumerate(nfl_scores.to_numpy()):
    print('a')
    team_home = names[value[5]]
    team_away = names[value[8]]
    plays = plays_data[(plays_data["season"] == value[2]) &
                       (plays_data["game_date"].dt.strftime('%#m/%#d/%Y') == value[1]) &
                       (plays_data["home_team"] == team_home)]

    td_home[i] = len(plays[(plays["touchdown"] == 1) & (plays["posteam"] == team_home)])
    td_away[i] = len(plays[(plays["touchdown"] == 1) & (plays["posteam"] == team_away)])
    drives = plays["drive"].max()
    print(plays["drive_time_of_possession"].values)
    overtime = plays["qtr"].max() == 5
    break

a
[nan '3:34' '3:34' '3:34' '3:34' '3:34' '3:34' '3:34' '3:34' '3:34' '4:31'
 '4:31' '4:31' '4:31' '4:31' '4:31' '4:31' '4:31' '4:31' '4:31' '4:31'
 '4:00' '4:00' '4:00' '4:00' '4:00' '4:00' '4:00' '4:00' '4:00' '4:41'
 '4:41' '4:41' '4:41' '4:41' '4:41' '4:41' '4:41' '4:41' '4:41' '5:54'
 '5:54' '5:54' '5:54' '5:54' '5:54' '5:54' '5:54' '5:54' '5:54' '5:54'
 '1:46' '1:46' '1:46' '1:46' '1:46' '3:10' '3:10' '3:10' '3:10' '3:10'
 '3:10' '3:10' '3:10' '3:10' '2:24' '2:24' '2:24' '2:24' '2:24' '2:24'
 '2:24' '2:24' '2:24' '2:24' '2:24' '2:24' '2:24' '2:24' '2:24' '2:24'
 '7:27' '7:27' '7:27' '7:27' '7:27' '7:27' '7:27' '7:27' '7:27' '7:27'
 '7:27' '7:27' '7:27' '7:27' '2:02' '2:02' '2:02' '2:02' '2:02' '2:02'
 '2:02' '2:02' '2:26' '2:26' '2:26' '2:26' '2:26' '2:26' '5:15' '5:15'
 '5:15' '5:15' '5:15' '5:15' '5:15' '5:15' '5:15' '5:15' '5:15' '5:15'
 '6:37' '6:37' '6:37' '6:37' '6:37' '6:37' '6:37' '6:37' '6:37' '6:37'
 '6:37' '6:37' '6:37' '6:37' '6:37' '6:37' '2:11' '2:11' '2:11' '2:11'
 '2:11' '3:47' '3:47' '3:47' '3:47' '3:47' '3:47' '3:47' '3:47' '3:47'
 '3:47' '3:47' '3:47' '3:47' '3:47' '0:15' '0:15' '0:15' '0:15' '0:15'
 '0:15']